{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
        <ol class="fr-breadcrumb__list">
            <li>
                <a class="fr-breadcrumb__link" href="/">Accueil</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" href="/form/1">Renseignement sur l'étudiant(e)</a>
            </li>
             <li>
                <a class="fr-breadcrumb__link" href="/form/2">Scolarité antérieur de l'étudiant(e)</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" href="/form/3">Responsable légaux</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link">Fiche d'urgence</a>
            </li>
            
    </div>
</nav>
<div class="fr-container">
    <div class="fr-container">
        <h1>Inscription au Lycée Fulbert</h1>
        <div class="fr-stepper">
            <h2 class="fr-stepper__title">
                Titre de la dernière étape en cours
                <span class="fr-stepper__state">Étape 4 sur 7</span>
            </h2>
             <div class="fr-stepper__steps" data-fr-current-step="4" data-fr-steps="7"></div>
        </div>
        
        <h3>Fiche d'urgence</h3>
        {{ form_start(form) }}
    {{ form_row(form.nameDoctor, { 'label': 'Nom du médecin' }) }}
    {{ form_row(form.addressDoctor, { 'label': 'Adresse du médecin' }) }}
    {{ form_row(form.phoneDoctor, { 'label': 'Téléphone du médecin' }) }}
    {{ form_row(form.dateVaccine, { 'label': 'Date du dernier rappel de vaccin antitétanique' }) }}
{{ form_end(form) }}
        
    </div>
    
</div>
<br>
<a class="fr-btn" href="/inscription/5">Suivant</a>

{% endblock %}