{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
        <ol class="fr-breadcrumb__list">
            <li>
                <a class="fr-breadcrumb__link" href="/">Accueil</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" href="/form/1">Renseignement sur l'étudiant(e)</a>
            </li>
             <li>
                <a class="fr-breadcrumb__link" href="/form/2">Scolarité antérieur de l'étudiant(e)</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" href="/form/3">Responsable légaux</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link">Fiche d'urgence</a>
            </li>
            
    </div>
</nav>
<div class="fr-container">
    <div class="fr-container">
        <h1>Inscription au Lycée Fulbert</h1>
        <div class="fr-stepper">
            <h2 class="fr-stepper__title">
                Titre de la dernière étape en cours
                <span class="fr-stepper__state">Étape 4 sur 7</span>
            </h2>
             <div class="fr-stepper__steps" data-fr-current-step="4" data-fr-steps="7"></div>
        </div>
        
        <h3>Fiche d'urgence</h3>
        {{form_start(form)}}
        {{ form_errors(form) }}
        
        {# ------------------------------------------------------------ #}
            <div class="fr-input-group style="margin: "35px">
                <span class="fr-hint-text"> exemple : Dr. Dupont</span>
                {{ form_row(form.urgence.nameDoctor, {'attr': {'class': 'fr-input'}}) }}
            </div>
            {# ------------------------------------------------------------ #}
            <div class="fr-input-group style="margin: "35px">
                <span class="fr-hint-text"> exemple : 5 rue du Limpsum</span>
                {{ form_row(form.urgence.addressDoctor, {'attr': {'class': 'fr-input'}}) }}
            </div>
            {# ------------------------------------------------------------ #}
            <div class="fr-input-group style="margin: "35px">
                <span class="fr-hint-text"> exemple : 02 37 00 00 00</span>
                {{ form_row(form.urgence.phoneDoctor, {'attr': {'class': 'fr-input'}}) }}
            </div>
            {# ------------------------------------------------------------ #}
            <div class="fr-input-group style="margin: "35px">
                <span class="fr-hint-text"> exemple : 5 rue du Limpsum</span>
                {{ form_row(form.urgence.observation, {'attr': {'class': 'fr-input'}}) }}

        
    </div>
    
</div>

<div class="fr-mt-4w">
        <button class="fr-btn" type="submit">Suivant</button>
        <div style="display: none;">
            {{ form_rest(form) }}
        </div>
        {{ form_end(form, {'render_rest': false}) }}
      </div>
{% endblock %}