{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<nav role="navigation" class="fr-breadcrumb" aria-label="Vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ul class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" href="/">Accueil</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" href="#">Renseignement</a>
      </li>
    </ul>
  </div>
</nav>

<div class="fr-container">
  <h1>Inscription au Lycée Fulbert</h1>
  <div class="fr-stepper">
    <h2 class="fr-stepper__title">
      Renseignement
      <span class="fr-stepper__state">Étape 1 sur 7</span>
    </h2>
    <div class="fr-stepper__steps" data-fr-current-step="1" data-fr-steps="7"></div>
    <p class="fr-stepper__details">
      <span class="fr-text--bold">Étape suivante :</span> Scolarité antérieur
    </p>
</div>

{# ----------------------------------------------------------- #}
{{ form_start(individuForm) }}
 <div class="sp-perso sp-perso-content fr-mb-4w">
    <div class="sp-perso-header">
      <h3 class="fr-h3 sp-perso-title sp-accent">Identité de l'élève</h3>
    </div>
    <form method="get" action="#">
      <div class="fr-input-group fr-grid-row">
        <fieldset class="fr-fieldset" aria-label="Nom et prénom">
          <div class="fr-fieldset__element">
            <legend class="fr-fieldset__legend">Nom</legend>
            {# --------------input ici------------- #}
            {{ form_row(individuForm.name, {'attr': {'class': 'fr-input'} })  }}
          </div>
          <div class="fr-fieldset__element">
            <legend class="fr-fieldset__legend">Prénom</legend>
            {# --------------input ici------------- #}
            {{ form_row(individuForm.lastname, {'attr': {'class': 'fr-input'} })  }}
          </div>
        </fieldset>
      </div>

      <div class="fr-input-group">
        <legend class="fr-fieldset__legend" for="tel-1">
          Numéro de téléphone
          <span class="fr-hint-text">Format attendu : (+33) 1 22 33 44 55</span>
        </legend>
         {# --------------input ici------------- #}
            {{ form_row(individuForm.mobilePhone, {'attr': {'class': 'fr-input'} })  }}
        <div class="fr-messages-group" id="tel-1-messages" aria-live="assertive"></div>
      </div>

      <div class="fr-input-group">
        <legend class="fr-fieldset__legend">
          Adresse électronique
          <span class="fr-hint-text">Format attendu : nom@email.fr</span>
        </legend>
        {# --------------input ici------------- #}
            {{ form_row(individuForm.email, {'attr': {'class': 'fr-input'} })  }}
      </div>
      <div class="fr-input-group">
        <legend class="fr-fieldset__legend">
          Ville
        </legend>
        {# --------------input ici------------- #}
            {{ form_row(individuForm.city, {'attr': {'class': 'fr-input'} })  }}
      </div>
      <div class="fr-input-group">
        <legend class="fr-fieldset__legend">
          Commune
        </legend>
        {# --------------input ici------------- #}
            {{ form_row(individuForm.commune, {'attr': {'class': 'fr-input'} })  }}
      </div>
      <div class="fr-input-group">
        <legend class="fr-fieldset__legend">
          Adresse
        </legend>
        {# --------------input ici------------- #}
            {{ form_row(individuForm.address, {'attr': {'class': 'fr-input'} })  }}
      </div>
    {{ form_end(individuForm, {'render_rest': false}) }}

    {# --------------Deuxième partie du form (source probleme)------------- #}
    {{ form_start(eleveForm) }}
    <fieldset class="fr-fieldset">
    <legend class="fr-fieldset__legend">Sexe</legend>
      <div class="fr-fieldset__content ">
        {{ form_row(eleveForm.sexe) }}
      </div>
    </fieldset>

    <h3>Transport</h3>
    <p>Type(s) de transport utilisé(s) pour se rendre au lycée :</p>

    <fieldset class="fr-fieldset">
      <div class="fr-fieldset__content ">
        {{ form_row(eleveForm.transport) }}
      </div>
    </fieldset>

    <h3>Scolarité pour cette année</h3>

    <fieldset class="fr-fieldset">
    <label class="fr-fieldset__legend" for="redoublement">Redoublement</label>
      <div class="fr-fieldset__content ">
        {{ form_row(eleveForm.redoublement) }}
      </div>
    </fieldset>

    <fieldset class="fr-fieldset" aria-label="Classe et spécialité">
    <div class="fr-fieldset__element">
      <div class="fr-input-group">
        <legend class="fr-fieldset__legend">Classe</legend>
         {{ form_row(eleveForm.cours) }}
      </div>
      <div class="fr-input-group">
        <legend class="fr-fieldset__legend">Spécialité</legend>
         {{ form_row(eleveForm.speciality) }}
      </div>
    </div>  
    </fieldset>

    <h3>Langues</h3>

    <fieldset class="fr-fieldset" aria-label="Langues">

    </fieldset>

    {{ form_end(eleveForm, {'render_rest': false}) }}

      
      <fieldset class="fr-fieldset" aria-label="Langues">
        <div class="fr-grid-row">
          <div class="fr-fieldset__element">
            <div class="fr-input-group">
              <label class="fr-label" for="lv1">LV1</label>
              <input class="fr-input" spellcheck="false" autocomplete="lv1" name="lv1" id="lv1" type="text">
            </div>
          </div>
          <div class="fr-fieldset__element">
            <div class="fr-input-group">
              <label class="fr-label" for="lv2">LV2 (facultatif)</label>
              <input class="fr-input" spellcheck="false" autocomplete="lv2" name="lv2" id="lv2" type="text">
            </div>
          </div>
        </div>
      </fieldset>

      <p class="fr-text--bold">
        Souhaitez-vous être membre de la MDL ?
        <span class="fr-hint-text">(si oui, le jour de la rentrée, vous devez fournir un chèque de 10€ au nom de la MDL)</span>
      </p>
      <fieldset class="fr-fieldset" aria-label="MDL" id="mdl-fieldset">
        <div class="fr-fieldset__element">
          <div class="fr-radio-group">
            <input type="radio" id="mdl-yes" name="mdl" value="yes">
            <label class="fr-label" for="mdl-yes">Oui</label>
          </div>
        </div>
        <div class="fr-fieldset__element">
          <div class="fr-radio-group">
            <input type="radio" id="mdl-no" name="mdl" value="no">
            <label class="fr-label" for="mdl-no">Non</label>
          </div>
        </div>
      </fieldset>

      <p class="fr-text--bold">
        Souhaitez-vous garder votre droit à l'image ?
        <span class="fr-hint-text">(si oui, vous n'apparaîtrez sur aucune photo de l'établissement)</span>
      </p>
      <fieldset class="fr-fieldset" aria-label="Droit à l'image" id="img-fieldset">
        <div class="fr-fieldset__element">
          <div class="fr-radio-group">
            <input type="radio" id="img-yes" name="img" value="yes">
            <label class="fr-label" for="img-yes">Oui</label>
          </div>
        </div>
        <div class="fr-fieldset__element">
          <div class="fr-radio-group">
            <input type="radio" id="img-no" name="img" value="no">
            <label class="fr-label" for="img-no">Non</label>
          </div>
        </div>
      </fieldset>

      <div class="fr-mt-4w">
        <button class="fr-btn" type="submit">Suivant</button>
      </div>
    </form>
  </div>
</div>

 
{% endblock %}
